body{
    font-size:16px;
    font-family:"微軟正黑體";
    font-weight: bold;
    background-image: url(f.jpg);
    background-size: cover;
    margin-top: 0px;
    display: flex;    
}
main{
    width:800px;
    background-color: antiquewhite;
    margin-left:auto;margin-right: auto;
    opacity: 0.9;
}
h1{
    font-size:30px;
    padding: 20px;
    background-color: blue;
    color:white;
    text-align: center;
    margin: 0px;
}
h3{
    background-color: yellowgreen;
    padding:10px;
    text-align: center;
    margin: 0px;
}
div,ol{
    padding: 10px;
    margin: 10px;
}
li{
    margin-left: 20px;
    margin-top:0px;
}